.App {
  text-align: center;
  visibility: hidden;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #fdcf51;
  margin: 50px;
}

.circle.red {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.blue {
  background-color: blue;
}

.circle.black {
  background-color: black;
  width: 0;
  height: 0;
}
